<a href="https://colab.research.google.com/github/kostistzim/Airbnb-Athens-Data-Analysis/blob/main/AirBnb_Athens_DataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [77]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [78]:
listings = pd.read_csv('/content/drive/MyDrive/airbnbanalysis/listings.csv')

list(listings_file.columns)

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'source',
 'name',
 'description',
 'neighborhood_overview',
 'picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'latitude',
 'longitude',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bathrooms_text',
 'bedrooms',
 'beds',
 'amenities',
 'price',
 'minimum_nights',
 'maximum_nights',
 'minimum_minimum_nights',
 'maximum_minimum_nights',
 'minimum_maximum_nights',
 'maximum_maximum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'number_of_reviews_l30d',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'license',
 'instant_bookable',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month']

**for this analysis we will use specific columns of our interest, listed below.**

In [79]:
columns= ['id',
          'name',
          'host_id',
          'host_name',
          'neighbourhood_cleansed',
          'neighbourhood',
          'latitude',
          'longitude',
          'room_type',
          'price',
          'minimum_nights',
          'number_of_reviews',
          'last_review',
          'reviews_per_month',
          'calculated_host_listings_count',
          'availability_365']

airbnb = pd.read_csv('/content/drive/MyDrive/airbnbanalysis/listings.csv', usecols= columns)

**Print the Shape of the dataset**

In [80]:
airbnb.shape

(12955, 16)

**Print the Datatypes of the dataset**

In [81]:
airbnb.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood                      object
                                   ...
availability_365                    int64
number_of_reviews                   int64
last_review                        object
calculated_host_listings_count      int64
reviews_per_month                 float64
Length: 16, dtype: object

In [82]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12955 entries, 0 to 12954
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              12955 non-null  int64
 1   name                            12955 non-null  object
 2   host_id                         12955 non-null  int64
 3   host_name                       12949 non-null  object
 4   neighbourhood                   8076 non-null   object
 5   neighbourhood_cleansed          12955 non-null  object
 6   latitude                        12955 non-null  float64
 7   longitude                       12955 non-null  float64
 8   room_type                       12955 non-null  object
 9   price                           12955 non-null  object
 10  minimum_nights                  12955 non-null  int64
 11  availability_365                12955 non-null  int64
 12  number_of_reviews               12955 non-null  int64
 13  last_review                     10999 non-null  object
 14  calculated_host_listings_count  12955 non-null  int64
 15  reviews_per_month               10999 non-null  float64
dtypes: float64(3), int64(6), object(7)
memory usage: 1.6+ MB

**Removing the duplicates, if any**

In [83]:
airbnb.duplicated().sum()

0

 here we dont seem to have any duplicates as the sum is 0, but, if we had any we would use


```
# airbnb.drop_duplicates(inplace=True)
```


 inplace=True parameter modifies the existent dataframe without creating a new one.

**Check for the null values in each column**

In [84]:
airbnb.isnull().sum()

id                                   0
name                                 0
host_id                              0
host_name                            6
neighbourhood                     4879
                                  ...
availability_365                     0
number_of_reviews                    0
last_review                       1956
calculated_host_listings_count       0
reviews_per_month                 1956
Length: 16, dtype: int64

**drop unnecessary columns**

In [85]:
airbnb.drop(['name', 'id', 'host_name','last_review'], axis= 1, inplace=True)

**Examining our latest changes**

In [86]:
airbnb.head(5)

,host_id,neighbourhood,neighbourhood_cleansed,latitude,longitude,room_type,price,minimum_nights,availability_365,number_of_reviews,calculated_host_listings_count,reviews_per_month
0,37177,"Athens, Attica, Greece",ΑΜΠΕΛΟΚΗΠΟΙ,37.98863,23.76527,Entire home/apt,$144.00,1,359,42,7,0.28
1,37177,"Athens, Attica, Greece",ΑΜΠΕΛΟΚΗΠΟΙ,37.98903,23.76448,Entire home/apt,$70.00,1,74,66,7,0.49
2,37177,"Athens, Attica, Greece",ΑΜΠΕΛΟΚΗΠΟΙ,37.98888,23.76473,Entire home/apt,$85.00,1,52,92,7,0.69
3,37177,"Athens, Attica, Greece",ΑΜΠΕΛΟΚΗΠΟΙ,37.98903,23.76448,Entire home/apt,$60.00,1,73,30,7,0.19
4,3745284,"Athens, Attica, Greece",ΜΟΥΣΕΙΟ-ΕΞΑΡΧΕΙΑ-ΝΕΑΠΟΛΗ,37.98985,23.73779,Entire home/apt,$35.00,3,152,514,2,3.87

(12955, 12)